body {
  font-family: sans-serif;
  background: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

h1 {
  font-family: "Roboto Mono", monospace;
  margin-top: 20px;
}

.emoji {
  font-size: 100px;
}
.temperature {
  font-family: "Roboto Mono", monospace;
  font-size: 75px;
}

.current {
  list-style: none;
  margin-left: -30px;
  margin-top: 15px;
  text-transform: capitalize;
}

.type {
  list-style: none;
  margin-left: -10px;
  margin-top: 40px;
}
.units a {
  text-decoration: none;
  color: black;
  cursor: default;
}
.weather-app-wrapper {
  max-width: 600px;
}

.fahrenheit a {
  color: black;
  cursor: default;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
.weather-forecast-temps {
  font-size: 13px;
}
a {
  text-decoration: none;
}
